APP_ENV=development
BOT_TOKEN="8877775951:AAED49hXoemgtismABVfUXXcD8EloF7_AEY"
BOT_USERNAME="QulayPinBot"
MINI_APP_URL='https://bridal-parade-shorter-winds.trycloudflare.com'
ADMIN_KEY=
TELEGRAM_INITDATA_MAX_AGE=86400
PORT=8000
